
***Data Preprocessing using sklearn:***


Example 2: 
In this notebook we will learn how to solve the misssing data problems in the dataset using sklearn. There are 4 main important steps for the preprocessing of data.

1. Splitting of the data set in Training and Validation sets
2. Taking care of Missing values
3. Taking care of Categorical Features
4. Normalization of data set

Example dataset are taken from [kaggle]. Have a look on this website to understand the dataset columns.

In this dataset, 
1. Some data are represented as(NaN)
2. Somesklea rows are empty.

All the above problems are known as missing data problem.


Come on smile :) Let's dive into the code!

In [3]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
#Read the csv file
file = pd.read_csv('melb_data.csv')
#view the entires in the file
file.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [7]:
#summary of the missing values
summary = file.isna().sum()
summary

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [8]:
#From the above summary, we can see car,BuildingArea,YearBuilt,CouncilArea columns are having missing values.
#We gonna take only numberical missing values such as car, BuildingArea,	YearBuilt columns.
# X = car values in 2D array           
X = file.iloc[:,12:13].values 
X

array([[1.],
       [0.],
       [0.],
       ...,
       [4.],
       [5.],
       [1.]])

In [9]:
# y = BuildingArea,	YearBuilt values in 2D array
y = file.iloc[:, 14:16].values
y

array([[  nan,   nan],
       [  79., 1900.],
       [ 150., 1900.],
       ...,
       [  nan, 1997.],
       [ 157., 1920.],
       [ 112., 1920.]])

In [10]:
#Splitting of the data set in Training and Validation sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)



```
# This is formatted as code
```


There are four columns / features (three numerical - car, BuildingArea, YearBuilt and another categorical - councilarea) which are having missing values and need to be imputed. In the code below, an instance of SimpleImputer is created with strategy as "mean". The missing value is represented using NaN. Note some of the following:



1. sklearn.impute package is used for importing SimpleImputer class.
2. SimpleImputer takes two argument such as missing_values and strategy.
3. fit_transform method is invoked on the instance of SimpleImputer to impute the missing values

In [21]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy="mean")
#we can fit the preprocessor with the car column
file.car = imp.fit_transform(file['Car'].values.reshape(-1,1))
#Output of car missing values
file

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

In [25]:
file.BuildingArea = imp.fit_transform(file['BuildingArea'].values.reshape(-1,1))
file.YearBuilt = imp.fit_transform(file['YearBuilt'].values.reshape(-1,1))
#Output of BuildingArea, YearBuilt missing values.

#For example, from the output, we can cleary see the missing number of first row is filled(1121.8626243, 1121.8626243).
file

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]

**Taking care of Categorical Features**

For handling categorical missing values, we should use one of the following strategies. However, it is the "most_frequent" strategy which is preferably used.

1. Most frequent (strategy='most_frequent')
2. Constant (strategy='constant', fill_value='someValue')
Here is how the code would look like when imputing missing value with strategy as most_frequent. In the code sample used in this post, councilarea is having missing values. Note how the missing value under councilarea column is replaced with 'Yarra' which occurs most frequently.

In [31]:
from sklearn.impute import SimpleImputer

categorical_imputer = SimpleImputer(missing_values=np.nan, strategy='constant')
file.CouncilArea = categorical_imputer.fit_transform(file['CouncilArea'].values.reshape(-1,1))
file

              Suburb  ... Propertycount
0         Abbotsford  ...        4019.0
1         Abbotsford  ...        4019.0
2         Abbotsford  ...        4019.0
3         Abbotsford  ...        4019.0
4         Abbotsford  ...        4019.0
...              ...  ...           ...
13575  Wheelers Hill  ...        7392.0
13576   Williamstown  ...        6380.0
13577   Williamstown  ...        6380.0
13578   Williamstown  ...        6380.0
13579     Yarraville  ...        6543.0

[13580 rows x 21 columns]